.conten2a{
    margin-left: 22%;
}
.conten2c{
    display: flex;
    width: 800px;
    margin-top: 20px;
    
}
.conten2e{
    display: flex;
    width: 95%;
    border-radius: 5%;
    height: 60%;
}
.conten2b{
    margin-top: 40px;
}
.conten2h{
    color: burlywood;
}